body {
    background-color: #1a1b26 !important;
    color: #fff;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #ccc;
}
.carousel-container{
    margin-top: 60px;
    margin-left: 60px;

}
.slide {
    height: 665px !important;
    position: relative;
    top: 100px;


}

.slide_img {
    height: 665px !important;


}


.card {
    background-color: #27293d;
    color: #fff;
}

.card-title {
    color: #ffd700;
}

.card-text {
    color: #ccc;
}

.btn-success {
    background-color: #ffd700;
    border-color: #ffd700;
}

.btn-success:hover {
    background-color: #fcca4b;
    border-color: #fcca4b;
}

.badge {
    background-color: #ffd700;
}
.film1 {
    background-color: #27293d;
    height: 600px;

}
.gried_film {
    color: #ccc;
    text-align: center;
    position: relative;
    left: 130px;


}