body {
    background-color: #1a1b26 !important;
    color: #fff;
}

.navbar-brand {
    font-size: 1.5rem;
}

.carousel-item img {
    height: 550px;
    width: 400px;

    object-fit: cover;
}

#carouselCinema {
    max-width: 800px;
    margin: 0 auto;
}


.card {
    background-color: #27293d;
    color: #fff;
}

.card-title {
    color: #ffd700;
}

.card-text {
    color: #ccc;
}

.btn-success {
    background-color: #ffd700;
    border-color: #ffd700;
}

.btn-success:hover {
    background-color: #fcca4b;
    border-color: #fcca4b;
}

.badge {
    background-color: #ffd700;
}
